@import 'src/assets/styles/base/baseExport';

.mainUpper {
    background: $graylight;
    font-family: 'Graphik', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 15px;
    width: 400px;
    display: flex;
    align-self: center;
    flex-direction: column;

    
}

.inputLabel {
    font-size: 9pt;
    font-weight: bold;
    margin-top: 5px;
}