@import 'src/assets/styles/base/baseExport';

.home {
  // height: 100%;
  // width: 100%;
  background: $graydark;
  display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0;
  margin: 0;
  align-items: center; 
}
